.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 29px;
  height: 29px;
  border: 2px solid rgba(255, 255, 255, 0.808);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 10000;
  pointer-events: none;
}

.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  pointer-events: none;
}

@media only screen and (max-width: 668px) {
  .ring {
    display: none;
  }

  .dot {
    display: none;
  }
}
