.Spinnerborder {

    display: inline-block;
    width: 6rem;
    height: 6rem;
    vertical-align: text-bottom;
    border: .35em solid orange;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .65s linear infinite;
    animation: spinner-border .65s linear infinite;
}

@keyframes spinner-border {
    to {
        transform: rotate(340deg);
    }}

.center {
    text-align: center;
margin-top: 45vh;
    height: fit-content;
}