.back-to-top {
  position: fixed;
  bottom: -10px;
  right: 1%;
  font-size: 15px;
  cursor: none;
  color: rgb(255, 255, 255);
}

.socialmedia:hover,
.back-to-top:hover {
  color: #e3874f;
}
.widget-app-container {
  top: 10px;
}
.footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background: #373737;
  box-shadow: 0 5px 5px #ccc;
  height: 50px;
}
.footer-head {
  margin-top: 4px;
  font-size: large;
}
