

// ===================
// Font and color variables
// ===================
// Fonts
$sans-serif:  sans-serif;
$font-light: 300;
$font-bold: 700;

// Colors
$black: #353535;
$gray: #4f4f4f;
$medium-gray: #737373;
$light-gray: #c4c4c4;
$orange: #f96855;

// Semantic color names
$accent: $orange;

$body-background: $black;
$menu-background: $gray;

$main-font-color: $light-gray;
$menu-active-color: $light-gray;
$menu-font-color: $medium-gray;
$link-color: $accent;




// ===================
// Main Content area
// ===================

.main-content {
margin: 1px;
  flex:1;
  min-height: 100vh;
  width: 100vw;
  align-items: center;

}


// ===================
// Portfolio
// ===================

.portfolio {
  display: grid;
  height: 80%;
  width: cover;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
}
h2{display: none;}
.portfolio-item {
  margin:1px;
  background: $accent;
  border-radius: 30px;
  color: white;
  font-weight: $font-bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2.2em;
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 0;
  width: cover;
  
  &.small {
    grid-row: span 1;
    grid-column: span 1;
  }
  
  &.medium {
    grid-row: span 2;
    grid-column: span 2;
  }
  
  &.large {
    grid-row: span 3;
    grid-column: span 3;
  }
  
  &.tall {
    grid-row: span 3;
    grid-column: span 2;
  }
  
  &.wide {
    grid-row: span 2;
    grid-column: span 3;
  }
    
  &:hover {
   
    h2{display: block;}
    opacity: 1;
    border-radius: 30px;
  }
 
}

.four{background-image: url('../images/projects/ProjCardView/1.png'); background-size: 40%; background-position:center;background-repeat:no-repeat;background-color:#663399;}
.five{background-image: url('../images/projects/ProjCardView/2.png');width: cover;background-size: 90%; background-position:center;background-repeat:no-repeat;background-color:#464646}
.three{background-image: url('../images/projects/ProjCardView/3.png');width: cover;background-size: 68%; background-position:center;background-repeat:no-repeat;background-color:#716767}
.one{background-image: url('../images/projects/ProjCardView/4.png');width: cover;background-size: 65%; background-position:center;background-repeat:no-repeat;background-color:#663399}
.two{background-image: url('../images/projects/ProjCardView/11.png');width: cover;background-size: 100%; background-position:center;background-repeat:no-repeat;background-color:#27332E}
.six{background-image: url('../images/projects/ProjCardView/6.png');width: cover; background-size: 40%; background-position:center;background-repeat:no-repeat;background-color:#448590    }
.two,.one,.three,.four ,.five,.six{
  &::before {
    content: '';
    display: block;
    background: $black;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    z-index: -1;
  }
  
  &:hover::before {
    
    transition: transform .5s ease;
    opacity: 0.91;
  }

}
@media only screen and (max-width: 600px) {
  .main-content {
    
      
      min-height: 40vh;
      width: 100vw;
      align-items: center;
    
    }
    .portfolio-item{
      border-radius: 10px!important;
    }
    
  .one{
    height: 15vh !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .one{
    height: 25vh !important;
  }
  .portfolio:h2{
    font-size: smaller;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 .portfolio:h2{
    font-size: smaller;
  }
  .one{
    height: 30vh !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .one{
    height: 35vh !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .one{
    height: 40vh !important;
  }
}
