

// ===================
// Font and color variables
// ===================
// Fonts
$sans-serif:  sans-serif;
$font-light: 300;
$font-bold: 700;

// Colors
$black: #353535;
$gray: #4f4f4f;
$medium-gray: #737373;
$light-gray: #c4c4c4;
$orange: #f96855;

// Semantic color names
$accent: $orange;

$body-background: $black;
$menu-background: $gray;

$main-font-color: $light-gray;
$menu-active-color: $light-gray;
$menu-font-color: $medium-gray;
$link-color: $accent;




// ===================
// Main Content area
// ===================

.main-content {
  padding: 1%;
  flex:1;
  min-height: 100vh;
  width: 100vw;
  left: 0px;

}


// ===================
// Portfolio
// ===================

.portfolio {
  display: grid;
  height: 100%;
  width: cover;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
h2{display: none;}
.portfolio-item {
  background: $accent;
  color: white;
  font-weight: $font-bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2.2em;
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 0;
  width: cover;
  
  &.small {
    grid-row: span 1;
    grid-column: span 1;
  }
  
  &.medium {
    grid-row: span 2;
    grid-column: span 2;
  }
  
  &.large {
    grid-row: span 3;
    grid-column: span 3;
  }
  
  &.tall {
    grid-row: span 3;
    grid-column: span 2;
  }
  
  &.wide {
    grid-row: span 2;
    grid-column: span 3;
  }
    
  &:hover {
   
    h2{display: block;}
    opacity: 1;
  }
 
}

.one{background-image: url('../images/projects/image1.png');height:50vh;}
.two{background-image: url('../images/projects/image2.png');}
.three{background-image: url('../images/projects/image3.png');}
.four{background-image: url('../images/projects/image3.png');}
.five{background-image: url('../images/projects/image3.png');}
.two,.one,.three,.four ,.five,.six{
  &::before {
    content: '';
    display: block;
    background: $black;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    z-index: -1;
  }
  
  &:hover::before {
    
    transition: transform .5s ease;
    opacity: 0.91;
  }

}

