@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

body,
.loading,
html {
  font-family: "Titillium Web", sans-serif;
  background-color: black;
  color: white;
  cursor: none;
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
  scroll-behavior: smooth;

}

  

#handellers{
  margin-top: 50%;
}
::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}
#heading{
  margin-top: 25%;
  font-size: 8px;
  letter-spacing: 0em;
}





/* cursor styles  */
.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 29px;
  height: 29px;
  border: 2px solid rgba(255, 255, 255, 0.808);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 10000;
  pointer-events: none;
}
.context{
 margin-top:10%;

}

.imageav {
  width: 300px;
  height: 300px;
}
.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  pointer-events: none;
}
.link{

  text-decoration: none;
}
.navbar-brand:hover ,.link:hover{
  border: 1px solid #e3874f;
  color: #e3874f;
  text-decoration: none;

}
.message {
  position: relative;
  margin-top: 6%;
  height: 30%;
  z-index: 1000000;
}
.nav-link ,.link{
  color: rgb(193, 193, 193);
  font-size: larger;
  cursor: none;
}

img:hover,
a:hover {
  border-bottom: #e3874f;
  color: #e48951 !important;
  cursor: none;
}

/* home page styles */
.home {
position: relative;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
  background-repeat: no-repeat;

  background-blend-mode: screen;
  display: flex;


}
.proj{
  position: relative;
}
.header {

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.508);
 
}
.loading{}
.briefElement {
  background-color: rgba(0, 0, 0, 0.585);
}
.brieftype{
  margin-top: 200px;
}

.para {

  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  background-color: transparent;
  text-shadow: 10px solid #ffffff;
}

.active {
  color: #e48951 !important;
}


.aboutme {
  position: relative;
  height: 700px;
  padding: 6%;
  width: cover;
}

.formInput{
  background-color: black;
  color: white;
  text-decoration-color: white;
  border:white 1px solid;
text-decoration-color: #ffffff;
}
