@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

body,
html {
  font-family: "Titillium Web", sans-serif;
  background-color: black;
  color: white;
  cursor: none;
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;

}
::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

/* cursor styles  */
.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 29px;
  height: 29px;
  border: 2px solid rgba(255, 255, 255, 0.808);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 10000;
  pointer-events: none;
}
.context{
 margin-top:10%;
 justify-content: center;
}
h1{
 text-size-adjust: 300px;
}
.imageav {
  width: 300px;
  height: 300px;
}
.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  pointer-events: none;
}

.navbar-brand:hover {
  border: 1px solid #e3874f;
}
.message {
  position: relative;
  margin-top: 6%;
  height: 30%;
  z-index: 1000000;
}
.nav-link {
  color: rgb(193, 193, 193);
  font-size: larger;
  cursor: none;
}

img:hover,
a:hover {
  border-bottom: #e3874f;
  color: #e48951 !important;
  cursor: none;
}

/* home page styles */
.home {
  position: relative;
  background: url(../images/landing.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 1000;
  background-blend-mode: screen;
 
  display: flex;
  justify-content: center;
  text-align: center;
}
.header {

  width: 100vw;
    height: 100vh;
  background-color: rgba(0, 0, 0, 0.708);
 
}


.para {

  font-weight: 500;
  font-style: normal;

  font-size: 28px;
  background-color: transparent;
  text-shadow: 10px solid #ffffff;
}

/* .proj {
  position: relative;
  left: 0px;
  margin-top: 20%;
}


.contactme {
  position: relative;
  height: 700px;
  width: cover;
} */
.active {
  color: #e48951 !important;
}

.heading {
  margin-top: 50%;
  padding: auto;
  text-size-adjust: 100px;
}
.aboutme {
  position: relative;
  height: 700px;
  padding: 6%;
  width: cover;
}
