body {
    --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #22dddd;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #e77a04;
    --orange: #fd7702;
    --yellow: #ffbb00;
  
    --background: var(--white);
    --accent: var(--ash-black);
  
   
  }

  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: var(--background);
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: #fff3;
  }

  .refresh path {
    fill: var(--accent);
  }
  
  .box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--accent);
    margin: 0;
  }
  
  .menu {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: var(--accent);
    padding-top: 100px;
    transform: translateX(-100%);
    will-change: transform;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }
  
  div.navbar-toggler{
    border: none;
  }
  .navbar-toggler  li {
    color: var(--background);
    display: block;
    transform-origin: -20px 50%;
    font-weight: bold;
    font-size: 48px;
   
    will-change: transform, opacity, filter;
    border: none;
  }
  
  ul,
  li {
    list-style: none;
    margin: 0;
  }
  
  button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: relative;
    top: -5px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--accent);
    
  }
  
  button path {
    fill: var(--background);
  }
  
  input {
    accent-color: var(--accent);
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 50px;
    align-items: center;
  }
  
  label {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  input[type="number"] {
    border: 0;
    border-bottom: 1px dotted var(--accent);
    color: var(--accent);
    margin-left: 10px;
    background: var(--background);
    width: 50px;
  }
  
  input[type="number"]:focus {
    outline: none;
    border-bottom: 2px solid var(--accent);
  }
  
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  .example {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .item {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: var(--accent);
    color: var(--background);
    font-size: 40px;
    line-height: 260px;
    font-weight: 700;
    border-radius: 30px;
  }
  