


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer-head {
    font-size: small;
  }
  .footer {
    height: 400px;
  }
  #code_src{
    display: none;
  }
.graph{
  height: 100;
  

}
  .header{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.708);
    
  }
  .ring {
    display: none;
  }
  .dot {
    display: none;
  }

  .mouse {
    margin-top: 7%;
  }

  .badgeimg {
    height: 100px;
    width: 100px;
  }

  .aboutme {
    margin-top: 0%;
  }
  .badges {
    margin-top: 0%;
  }
  .dot,
  .ring {
    display: none;
  }
  .proj {
    margin-top: 0;
  }
  .badgeimg {
    height: 80px;
    width: 80px;
  } 
  .home {
    background: url(../images/landing.jpg) no-repeat center center fixed;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .imageav {
    width: 250px;
    height: 250px;
  }
  .home {
   
      background: url(../images/landing.jpg) no-repeat center center fixed;

  }

  .mouse {
    margin-top: 8%;
  }
  .badgeimg {
    height: 150px;
    width: 150px;
  }
  #heading {
    margin-top: 18%;
    font-size: 12px;
    letter-spacing: 0.01em;
  }
  #code_src{
    display: none;
  }

  .dot,
  .ring {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer-head {
    font-size: small;
  }
  #code_src{
    display: inline;
  }
  .home {
    background: url(../images/landing-large.jpg) no-repeat center center fixed;
  }
  .dot,
  .ring {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .dot,
  .ring {
    display: block;
  }  #code_src{
    display: inline;
  }
  #brief {
    margin-top: 10%;
    font-size: 8px;
    letter-spacing: 0em;
  }

  #heading {
    margin-top: 14%;
    font-size: 14px;
    letter-spacing: 0.1em;
  }
  .mouse {
    margin-top: 5%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1260px) {
  .ring {
    width: 34px;
    height: 34px;
    display: block;
  }  #code_src{
    display: inline;
  }
  .dot {
    width: 12px;
    height: 12px;
    display: block;
  }

  #heading {
    margin-top: 10%;
    font-size: 24px;
    letter-spacing: 0.1em;

  }
  #code_src{
    display: inline;
  }
  .imageav {
    width: 500px;
    height: 500px;
  }
  .mouse {
    margin-top: 3%;
  }
  .badges {
    margin-top: -10%;
  }
}
@media only screen and (min-width: 1600px) {
}
